astroid==2.3.3
cffi==1.13.2
Click==7.0
cryptography==39.0.1
Flask==1.1.1
Flask-JWT-Extended==3.24.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pycparser==2.19
PyJWT==2.4.0
pylint==2.4.4
pyOpenSSL==19.1.0
six==1.13.0
typed-ast==1.4.0
Werkzeug==2.2.3
wrapt==1.11.2
